<ion-content fullscreen>
  <div class="ion-padding">
    <ion-button (click)="close()" fill="clear" color="dark" float-right>
      <ion-icon name="close" slot="start"></ion-icon>
    </ion-button>
    <ion-text color="primary">
      <h4>Votre panier</h4>
    </ion-text>
    <ion-list>
      <ion-item *ngFor="let p of cart" class="ion-text-wrap">
        <ion-grid>
          <ion-row>
            <b> {{ p.title }} </b>
          </ion-row>

          <ion-row class="ion-align-items-center">
              <ion-button class="add_remove" color="medium" fill="clear" (click)="decreaseCartItem(p)">
                <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
              </ion-button >
              {{ p.amount }}
              <ion-button class="add_remove" color="medium" fill="clear" (click)="increaseCartItem(p)">
                <ion-icon name="add-circle" slot="icon-only"></ion-icon>
              </ion-button>

              <ion-button class="add_remove" color="medium" fill="clear" float-right (click)="removeCartItem(p)">
                <ion-icon name="close-circle" slot="icon-only"></ion-icon>
              </ion-button>
          </ion-row>
          <ion-row>
              Prix : {{ p.amount * p.price | currency:'EUR' }}
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
              <b>Total du panier : {{ getTotal() | currency:'EUR' }}</b>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <form #myForm="ngForm">
      <ion-text color="primary">
        <h4>Vos informations</h4>
      </ion-text>
      <ion-item>
        <ion-label><h3>NOM : </h3></ion-label>
        <ion-input required type="text" [(ngModel)]="form.nom" name="nom" autocomplete="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><h3>Prénom : </h3></ion-label>
        <ion-input required type="text" [(ngModel)]="form.prenom" name="prenom" autocomplete="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><h3>Téléphone : </h3></ion-label>
        <ion-input required type="tel" pattern="0([0-9]{9})" [(ngModel)]="form.numtel" name="numtel" autocomplete="on"></ion-input>
      </ion-item>
    </form>
    <ion-button [disabled]="!myForm.form.valid" expand="full" (click)="checkout()">
      Paiement
    </ion-button>
  </div>

</ion-content>